.header {
    background-color: #014E56;
    padding: 60px;
    padding-bottom: 160px;

    

    &__button {
        border: 2px solid #FFFFFF;
        border-radius: 24px;
        padding: 15px 32px;
        background: #014E56;
        color: white;
        width: 180px;
        font-family: 'Livvic';
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        transition: 0.3s;
        display: inline-block;
    }

    &__button:hover {
        background-color: white;
        color:#014E56;
        border: 2px solid white;
    }
}

.header--container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}